/*
=============== 
Fonts
===============

/*
=============== 
Variables
===============
*/

html {
  /*1rem = 10px */

  font-size: 62.5%;
}


:root {

  /*************************   Color Palette    ********************/
 
  --clr-primary-1: #E7A74F; 
  --clr-primary-2: #2A1B0D; 
  
  --clr-primary-1-hover:#dd8408;
  

  --clr-modal-1 :rgba(0,0,0,0.35);



  --clr-error-1:#d32f2f;
  --clr-success:#2e7d32;


  /*  color  used for headings */
  --clr-title-1: #ffff;
  --clr-title-2: #2A1B0D;



  /* text colors */
  --clr-text-1:#2A1B0D;
  --clr-text-2: hsl(210, 31%, 80%);

  /* background color */
  --clr-background-1:#2A1B0D;

  --clr-white: #fff;
  --clr-black: #000;


  /*************************   Fonts     ********************/
  --ff-primary-1 : "Raleway", sans-serif;
  --ff-primary-2 : "lato", sans-serif;
  --ff-primary-3 : "Comfortaa", sans-serif;
 
  
  --ff-paragraph-1:"lato", sans-serif;
  
  
  
  /*************************   Shadows     ********************/
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
  
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;

  --max-width: 1440px;
  --fixed-width: 700px;
  
  /* Margins */
  --margin-section-top-bottom:20rem 0;
  --margin-section-top:20rem;
  --margin-section-bottom:20rem;
  
  /*************************    Media Query's  Breakpoints ********************/
   /* Media Query's */
   --bp-1850: 115.62em;
   --bp-1400: 87.5em;
   /* 1400px / 16px */
   --bp-big: 68.75em;
   /* 1100px / 16px */
   --bp-large: 50em;
   /* 800px / 16px */
   --bp-medium: 37.5em;
   /* 600px / 16px */
   --bp-small: 31.25em;
   /* 500px /16px */
   --bp-smallest: 25em;
   /* 400px /16px */
   --bp-landscape: 31.25em;
   /* 500px height */
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  /* text-transform: capitalize; */
  /* line-height: 1.25; */
  /* margin-bottom: 0.75rem; */
  /* font-family: var(--ff-primary); */
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
/* 
img{
  max-width: 100%;
  display: block;
} */
/*  global classes */

.btn-cta {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-text-1);
  padding: 1rem 2.18rem;
  transition: var(--transition); 
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem; 
  font-size: 2.1rem;
  font-family: var(--ff-primary-3 ) ;
  font-weight: bold;
}
.btn-cta:hover {

  background: var(--clr-primary-1-hover);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}